
@font-face {
    font-family: 'sportsapp';
    src: url('../assets/fonts/sportsapp.woff') format('woff');
  }

.nav-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    border-top: 2px solid #333;
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    ul{
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0;
        li{
            a{
                color: #fff;
                text-decoration: none;
                font-size: 14px;
                font-family: 'barlow', sans-serif;
                font-weight: 600;
                padding: 16px 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                &.home:before{
                    content: '\e902';
                    font-family: 'sportsapp';
                    font-size: 24px;
                }

                &.reels:before{
                    content: '\e903';
                    font-family: 'sportsapp';
                    font-size: 24px;
                }

                &.fixtures:before{
                    content: '\e900';
                    font-family: 'sportsapp';
                    font-size: 24px;
                }

                &.profile:before{
                    content: '\e901';
                    font-family: 'sportsapp';
                    font-size: 24px;
                }

                &.active{
                    color: #F79528;
                }
            }
        }
        
    }
}
