.pl-table-container{
    display: flex;
    row-gap: 16px;
    flex-direction: column;
    color: #fff;

    .title-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        img{
            width: auto;
            height: 30px;
        }
        a{
            color: #F79528;
            font-family: 'Barlow', sans-serif;
            text-decoration: none;
            font-size: 14px;
        }
    }

    .table-wrapper{
        background-color: #212121;
        padding: 16px;
        border-radius: 8px;
        .pl-table{
            width: 100%;
            border-collapse: collapse;
            thead{
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 2px;
                    width: 100%;
                    background:linear-gradient(93.93deg,#05f0ff 1.12%,#7367ff 63.34%,#963cff 82.72%)
                }
            }

            tbody{
                tr{
                    &:first-child td{
                        padding-top: 8px;
                    }
                }
            }

            th, td{
               text-align: left; 
            }
            th{
                position: relative;
                font-size: 14px;
                color: #fff;
                font-family: 'Montserrat', sans-serif;
                padding-bottom: 8px;
            }
            td{
    
                padding: 4px 0;
                vertical-align: middle;
                font-family: 'Barlow', sans-serif;
                img{
                    width: 30px;
                    height: 30px;
                    margin-right: 8px;
                }
                span{
                    display: inline-flex;
                    align-items: center;
                }
            }
        }
    }
    
}
