.main-content {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.back-page-button {
  background-color: rgba(0, 0,0, 0);
  border:0;
  color: #fff;
  font-size: 14px;
  display: inline-flex;
  align-self: flex-start;
  text-align: left;
  align-items: center;
  cursor: pointer;
  padding: 0;

}
.back-page-button svg{
  display: inline-block;
  margin-right: 4px;
}